[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xgboost = "*"
sklearn = "*"
tqdm = "*"
keras = "*"
tensorflow = "*"
nltk = "*"
beautifulsoup4 = "*"
jupyter = "*"
jieba = "*"
bs4 = "*"
matplotlib = "*"
torch = "*"
transformers = "*"
pysnooper = "*"
tensorboard = "*"
plotly = "*"
spacy = "*"
sentencepiece = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
poet_atr_test = "python -m src.script.run_poet_atr_test_all.py --model_path=data/pretrain/5 --limit_number=252 --topk=1"
tensorboard = "tensorboard --logdir data/exp/5.pth"
poet_atr_train = "python -m src.script.run_poet_atr_train.py --model_name=test --limit_number=252"
poet_topic_train = "python -m src.script.run_poet_top_train --num_com=1000 --exp_name=200_30 --min_df=30"
poet_atr_show = "python -m src.script.run_poet_atr_test_sin --topk=3 --limit_number=252 --model_path=data/pretrain/5"
poet_cnt = "python -m src.script.run_poet_cnt --txt=國王"
poet_cnt_train = "python -m src.script.run_poet_cnt_train "
