[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xgboost = "*"
sklearn = "*"
tqdm = "*"
keras = "*"
tensorflow = "*"
nltk = "*"
beautifulsoup4 = "*"
jupyter = "*"
jieba = "*"
bs4 = "*"
matplotlib = "*"
torch = "*"
transformers = "*"
pysnooper = "*"
tensorboard = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
poet_test = "python -m src.script.run_classifier_test.py --model_path=data/pretrain/5 --limit_number=252 --topk=1"
tensorboard = "cd data/exp/ && tensorboard --logdir 5.pth"
poet_train = "python -m src.script.run_classifier_train.py --model_name=test --limit_number=252"